.text {
    float: left;
    width: 95%;
    font-size: 20px;
    font-family: 'fantasy';
    color: #665b7e;
    /*Text line size*/
    line-height: 15pt;
    /*Text line relation*/
    line-height: 1.5;
    text-align: justify;
    margin: 30px 5px 30px 30px;
}